.w {
    width: 1200px;
    margin: 0 auto;
}
.shortcut {
    height: 100px;
    background-color: #f1f1f1;
}
.header_left,
.header_center,
.header_right {
    height: 100px;
    


}
.header_left {
    float: left;

}
.header_left .logo {
    width: 300px;
    height: 100px;
    line-height: 100px;
}
.header_center {
    float: left;
    
}
.header_center ul li {
    display: inline-block;
    padding: 20px;
    line-height: 100;
    font-size: 15px;

}
.header_right {
    float: right;
}
