.w {
    width: 1200px;
    margin: 0 auto;
}
.shortcut {
    height: 100px;
    background-color: #f1f1f1;
}
.header_left,
.header_center,
.header_right {
    height: 100px;


}
.header_left {
    float:left;

}
.header_center {
    float:leftl
}