.header {
    position: relative;
    left: 0;
    top: 0;
}
.header .header_logo {
    position: relative;
    height: 48px;
    width: 160px;
    fill:#fff;
}
.header .header_logo a{
    font-size: 0;
}