.main {
    position:  relative;
}
.main .slideshow{
    position: absolute;
    top: 0;
    left: 0;
}
.main .slideshow a {
    display:block;
    font-size: 0;
}
.main .slideshow a img {
    height: auto!important;
    width: calc(100%vh);
    object-fit:cover;
}