font-face{
	font-family:D-DIN-Medium;
	src:url(../fonts/D-DIN.woff2) format("woff2"),url(../fonts/D-DIN.woff) format("woff"),url(../fonts/D-DIN.otf) format("opentype");
	font-style:normal;
	font-weight:400;
	font-display:block
}
@font-face{
	font-family:D-DIN-Light;
	src:url(../fonts/D-DIN.woff2) format("woff2"),url(../fonts/D-DIN.woff) format("woff"),url(../fonts/D-DIN.otf) format("opentype");
	font-style:normal;
	font-weight:400;
	font-display:block
}
@font-face{
	font-family:D-DIN-Bold;
	src:url(../fonts/D-DIN-Bold.woff2) format("woff2"),url(../fonts/D-DIN-Bold.woff) format("woff"),url(../fonts/D-DIN-Bold.otf) format("opentype");
	font-style:normal;
	font-weight:400;
	font-display:block
}
@font-face{
	font-family:D-DIN-Regular;
	src:url(../fonts/D-DIN.woff2) format("woff2"),url(../fonts/D-DIN.woff) format("woff"),url(../fonts/D-DIN.otf) format("opentype");
	font-style:normal;
	font-weight:400;
	font-display:block
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 100;
    width: 100%;
    
}
.search_bar {
    height:20px;
}
.header_wrapper {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #000;
    opacity: 0.99;
}
.header_wrapper .header_logo {
    position: absolute;
    left: 60px;
    height: 48px;
    width: 160px;
    margin-right: 38px;
}
.header_logo svg {
    fill:#fff
}
.header_wrapper .header_logo a{
    font-size: 0;
}
.main .silideshow a{
    font-size: 15;
}
.footer{
    bottom: 0;
    height: 296px;
    background-color: #000;
}