.header {
    position: relative;
    left: 0;
    top: 0;
    height: 106px;
    min-height: 80;
}
.header .header_logo {
    position: absolute;
    left: 60px;
    height: 48px;
    width: 160px;
    fill:#fff;
}
.header .header_logo a{
    font-size: 0;
}