.scroller {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    
    will-change: transform;
}
.scroller div {
    position: relative;
    width: 100%;
}
.scroller div .background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
